<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MicroServiceEndpoint" maxBufferSize="65536000"
                    maxReceivedMessageSize="65536000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/IL.Service.WebHost/ILMicroService.svc"
                binding="basicHttpBinding" bindingConfiguration="MicroServiceEndpoint"
                contract="MicroServiceProxy.IILMicroService" name="MicroServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>