<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="CollectionRoundId" value="83E1E4B4-E662-48B7-9E20-DA2DC29274AE" />-->
    <add key="CollectionRoundId" value="68A60FEE-F693-423F-8BA8-DB2F374E2A70" />
    <!--<add key="CollectionRoundId" value="32F4E79B-49FA-4B8B-8EA1-723FD07F96C0" />-->
    <!--68A60FEE-F693-423F-8BA8-DB2F374E2A70-->
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MicroServiceEndpoint" closeTimeout="00:05:00"
                    openTimeout="00:05:00" maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint 
              address="http://localhost/IL.Service.WebHost/ILMicroService.svc"
                binding="basicHttpBinding" bindingConfiguration="MicroServiceEndpoint"
                contract="MicroServiceProxy.IILMicroService" name="MicroServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>
<!--6AE523D3-0EAC-4A28-9586-F8E3C12E0683-->